.card {
  background-color: #1a4848;
  border-radius: $border-radius-value;
}

input,
textarea,
select {
  padding: 0 1rem;
  border: none;
  width: 100%;

  &:focus-visible {
    outline: none;
  }
}

input[type="checkbox"] {
  width: 1rem;
  margin-right: 1rem;
}

.inputgroup {
  margin-top: 7px;
}

.inputdiv {
  background-color: white;
  border: 1px solid #1a4848;
  border-radius: $border-radius-value;
  padding: 5px;
}

.image-uplaod-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  min-width: 150px;
  max-height: 150px;
  max-width: 150px;
  background-color: white;
  border: 1px solid #1a4848;
  border-radius: $text-area-border-radius;
  padding: 5px;
}

.left {
  padding-right: 5px;
}

.middle {
  padding-left: 5px;
  padding-right: 5px;
}

.right {
  padding-left: 5px;
}

.submit_button {
  background-color: #fdc11f;
  border: none;
  border-radius: $border-radius-value;
  width: 100%;
  padding: 0;

  &.active {
    background-color: white;
    color: $color-secondary;
    font-weight: 800;
  }
}

.textsec {
  color: $color-secondary;
}

.text-err {
  color: $text-error-color;
}

a {
  color: white;
  padding: 0 0.5rem;
  text-decoration: none;

  &:hover {
    color: $color-secondary;
  }
}

label {
  color: $color-secondary;
  margin-left: 15px;
  font-size: 12px;
}

.inputdivtext {
  background-color: white;
  border: 1px solid #1a4848;
  border-radius: $text-area-border-radius;
  padding: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

.length-info {
  font-size: 10px;
}

@media (max-width: 576px) {
  .inputgroup {
    padding: 0;
    margin: 2;
  }
  .image-uplaod-div {
    min-width: 100px;
    margin: 10px;
  }
  .second-button {
    padding: 0;
    margin: 0;
  }
  .header-title {
    font-size: smaller;
  }
  .header-div {
    width: 100%;
  }
  .submit_button {
    padding: 0 !important;
    margin: 0 !important;
  }
  .next-button-div {
    margin-left: 120px !important;
    padding-top: 20px !important;
    padding-bottom: 0 !important;
  }
  .benifits-card-div {
    padding-bottom: 200px;
    margin-bottom: 100px;
  }
}
@media (max-width: 576px) {
  .inputgroup {
    padding: 0;
    margin: 2;
  }
  .image-uplaod-div {
    min-width: 100px;
    margin: 10px;
  }
  .second-button {
    padding: 0;
    margin: 0;
  }
  .header-title {
    font-size: smaller;
  }
  .header-div {
    width: 100%;
  }
  .submit_button {
    padding: 0 !important;
    margin: 0 !important;
  }
  .next-button-div {
    margin-left: 120px !important;
    padding-top: 20px !important;
    padding-bottom: 0 !important;
  }
  .benifits-card-div {
    padding-bottom: 200px;
    margin-bottom: 100px;
  }
}
@media (max-width: 576px) {
  .inputgroup {
    padding: 0;
    margin: 2;
  }
  .image-uplaod-div {
    min-width: 100px;
    margin: 10px;
  }
  .second-button {
    padding: 0;
    margin: 0;
  }
  .header-title {
    font-size: smaller;
  }
  .header-div {
    width: 100%;
  }
  .submit_button {
    padding: 0 !important;
    margin: 0 !important;
  }
  .next-button-div {
    margin-left: 120px !important;
    padding-top: 20px !important;
    padding-bottom: 0 !important;
  }
  .benifits-card-div {
    padding-bottom: 200px;
    margin-bottom: 100px;
  }
}
@media (max-width: 1007px) {
  .inputgroup {
    padding: 0;
    margin: 2;
  }
  .image-uplaod-div {
    min-width: 100px;
    margin: 10px;
  }
  .second-button {
    padding: 0;
    margin: 0;
  }
  .header-title {
    font-size: smaller;
  }
  .header-div {
    width: 100%;
  }
  .submit_button {
    padding: 5px !important;
    margin: 0 !important;
  }
  .next-button-div {
    margin-left: 120px !important;
    padding-top: 20px !important;
    padding-bottom: 0 !important;
  }
  .benifits-card-div {
    padding-bottom: 200px;
    margin-bottom: 100px;
  }
  .second-page-button {
    margin-top: 20px;
  }
}
