.headernumber {
  border: 1px solid black;
  border-radius: 30px;
  padding: 0.8rem 1.3rem;
  background-color: white;
  font-weight: 800;
  // pointer-events: none; // disabled for development
}

a {
  text-decoration: none;
  color: black;
}

.active {
  background-color: $color-secondary;
  &:hover {
    color: black;
  }
}

.horizontal_line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

.headerdiv {
  font-style: bold;
  font-weight: 600;
}

.headertipics {
  padding-right: 15rem;
  padding-left: 15rem;
}