.tooltip2 {
  position: relative;
  display: inline-block;
}

.tooltiptext2 {
  visibility: hidden;
  max-width: 250px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  border-radius: 6px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip2:hover .tooltiptext2 {
  visibility: visible;
}
